services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  EasyApiJwtAuthentication\Services\User\UserManager:
    public: true
    arguments: ['@service_container', '@security.token_storage', '@gesdinet_jwt_refresh_token.refresh_token_manager']

  EasyApiJwtAuthentication\Controller\AuthenticationController:
    public: true
    tags: [ 'controller.service_arguments']
